<div class="" *ngIf="(basket$ | async) === null">
    There are no items in your basket
</div>

<div class="container" *ngIf="(basket$ | async) as basket">
    <ul>
        <li *ngFor="let item of basket.items">
            <div class="row">
                <div class="col-2">
                    <img [src]="item.pictureUrl" [alt]="item.name" class="img-fluid" />
                </div>
                <div class="col-4">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.price | currency }}</p>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary btn-sm">-</button>
                    <span class="mx-2">{{ item.quantity }}</span>
                    <button class="btn btn-outline-secondary btn-sm">+</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-danger btn-sm">Remove</button>
                </div>
            </div>
        </li>
    </ul>
</div>